{{!<h1>Welcome to the Home Page</h1>}}

<form action="/" method="post" enctype="multipart/form-data">
    <h3>画像をアップロード</h3>
    <Input type="file" name="imagefile" accept="image/*" />
    <Input type="submit">
</form>